div.interes.mt-3

    if currentUser

        if currentUser.id !== publicacion.usuarioId

            form(
                action=`/intereses/${publicacion.id}`
                method='POST'
            )

                button.btn.btn-sm.btn-info(type='submit')
                    | Me interesa

        else

            p.text-muted
                | Esta publicación es tuya.

    else

        p.text-muted
            | Inicia sesión para indicar interés.