div.likes

    form(
        action=`/likes/${publicacion.id}`
        method='POST'
    )

        button(type='submit')
            | Me gusta

    p
        | Cantidad de likes:
        strong= publicacion.Likes ? publicacion.Likes.length : 0
