article.publicacion

    .cabecera-publicacion

        h3= publicacion.Usuario ? publicacion.Usuario.nombre : 'Usuario desconocido'

        include seguir

    include descripcion

    include etiquetas

    include archivos

    include fecha-publicacion

    include likes

    include intereses

    include colecciones

    include denuncias

    include comentarios

    hr