extends layout.pug

block content

    include partials/hero

    hr

    include partials/buscador

    hr

    h2  Descubrí contenido de la comunidad

    if publicaciones && publicaciones.length > 0

        each publicacion in publicaciones

            include partials/publicacion

    else

        if busqueda

            p
                | No se encontraron publicaciones con esos filtros.

        else

            p
                | Todavía no hay publicaciones cargadas.