extends ../layout.pug

block content

  .colecciones-container

    .colecciones-card

      h1 📁 Mis colecciones

      a.btn(
        href='/colecciones/nueva'
      )
        | Nueva colección

      if colecciones && colecciones.length > 0

        each coleccion in colecciones

          article.coleccion-item

            h3
              | #{coleccion.nombre}

            if coleccion.createdAt

              p
                strong Creada:
                |  #{coleccion.createdAt}

            a.btn(
              href=`/colecciones/${coleccion.id}`
            )
              | Ver colección

      else

        p.sin-colecciones
          | Todavía no creaste colecciones.