- const etiquetasPublicacion = publicacion.Etiquetas || publicacion.Etiqueta || []

if etiquetasPublicacion.length > 0

    div.etiquetas.mb-3

        strong
            | Etiquetas:

        br

        each etiqueta in etiquetasPublicacion

            span.badge.bg-secondary.me-1(style='margin-right:5px;')
                | #{etiqueta.nombre}

else

    p.text-muted
        | Sin etiquetas.