article.publicacion

    include seguir.pug

    include descripcion.pug

    include etiquetas.pug

    include archivos.pug

    include fecha-publicacion.pug

    include likes.pug

    include intereses.pug

    include colecciones.pug

    include denuncias.pug

    include comentarios.pug

    hr